
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}

body {
    
    color: #c4c4c4;
    background-image: URL("/imgs/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    scroll-behavior: smooth;
}

/*Conteiner principal da página*/

.profile_container {
    width: 67%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*Conteiner principal da página*/


/*container com a orientação da página*/

.container_principal {
    display: flex;
    flex-direction: row;
}

.child {
    display: flex;
    flex-direction: column;
}

/*container com a orientação da página*/

