@import url('https://fonts.cdnfonts.com/css/motiva-sans');

/***************************************
        Nav superior
****************************************/
.top_nav {
    background: #171a21;
    width: 100%;
    font-family: "Motiva Sans", Sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

.menuitem {
    padding: 0.7rem 2rem;
    margin-right: 1rem;

}

.menuitem:hover {
    color: #ffffff;
    box-shadow: #101214;

}

a {
    color: #b8b6b4;
    text-decoration: none;
    text-transform: uppercase;
    /* line-height: 16px; */
    font-size: 0.9rem;
}

/***************************************
        Nav superior
****************************************/

.container_principal {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.child {
    margin-top: 2rem;
}

.second {
    margin-bottom: 48.6rem;
}

/***************************************
        Profile section
****************************************/

.profile_container {

    width: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.95);

}

.header_profile {
    border-radius: 0;
    border: none;
    display: flex;
    width: 100%;
    margin: 0 auto;

}

#picture {
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
    margin-left: 10rem;
}


#flames {
    position: relative;
    width: 12rem;
    margin-top: -20rem;
    margin-left: 1rem;
}


.content_txt {
    color: #ffffff;
    font-family: "Motiva Sans", Sans-serif;
    margin: 2em 0.7rem;

}

.profile_header {
    line-height: 2rem;
    font-size: 1.4rem;
    color: #ffffff;
    white-space: nowrap;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
}

.profile_name {

    color: #c4c4c4;
    font-size: 0.7rem;
    white-space: nowrap;
    font-family: 'Motiva Sans';

}

.profile_studie {
    line-height: 1rem;
    margin-top: 3rem;
    font-family: "Motiva Sans";
    color: rgb(196, 196, 196);
    font-size: 0.7rem;
    white-space: nowrap;

}

.objetivo {
    margin-top: 3%;
    font-family: "Motiva Sans";
    color: rgb(196, 196, 196);
    font-size: 0.75rem;
    white-space: nowrap;

}

/**************************
    Insignia

**************************/
.profile_header_badgeinfo {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 1rem;

}

.friendPlayerLevelNum {
    font-size: 1.3rem;
    font-family: 'Motiva Sans';
    border: solid #6563FF 2px;
    border-radius: 50%;
    /* display: flex; */
    line-height: 1.7rem;
    text-align: center;
    cursor: default;
    margin-top: 1rem;
    margin-left: 0.4rem;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**************************
    Icone menu
**************************/

#mesa {
    width: 1.2rem;
    margin-left: 0.4rem;
}

#icon_react {
    width: 1.2rem;
    margin-top: 0.5rem;
}

/**************************
    Icone menu
**************************/

.persona_name {
    font-size: 1.6rem;
    font-family: 'Motiva Sans';
    font-weight: 200;
}

.profile_header_badge {

    border-radius: 0.3rem;
    background-color: #1D1F3D;
    height: 3.5rem;
    width: 14rem;
    display: flex;
    margin-top: 0.7rem;
    margin-left: 3.3rem;
}


.lvl_xp {
    margin-top: 1.3rem;
    display: flex;
    margin-left: 3.4rem;
}

.favorite_badge {

    display: flex;
    align-items: center;
    font-family: 'Motiva Sans';
}

.favorite_badge_icon {
    display: flex;
    margin-top: 0.2rem;
    margin-left: 0.6rem;
}

.favorite_badge_description {
    font-size: 0.75rem;
    font-family: 'Motiva Sans';
    display: flex;
    flex-direction: column;
    /* line-height: 1.5; */
    gap: 0.5rem;
    /* margin: 0 auto; */
    margin-left: 1rem;
    margin-top: 1rem;
}

img.badge_icon.small {
    width: 2.7rem;
    height: 2.7rem;
}

.value {

    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #6563FF;
    border-bottom: 3px solid #6563FF;
    width: 1.8rem;
    height: 1.8rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

.label {
    margin-top: 1rem;
}

/**************************
    Sobre mim

**************************/

.content_container {
    display: flex;
    flex-direction: column;

}

.sub_container {
    font-family: "Motiva Sans", Sans-serif;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    line-height: 30px;
    margin-top: 4rem;
    width: 40rem;
    border-radius: 5px;
    background-color: #1D1F3D;
    margin-left: 4rem;


}

.container_project {
    font-family: "Motiva Sans", Sans-serif;
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    margin-top: 10rem;
    width: 40rem;
    background-color: #1D1F3D;
    margin-left: 4rem;
}

.sub_content {
    line-height: 30px;
    height: 7rem;
    margin: 0 auto;
    width: 100%;
    font-family: 'Motiva Sans';
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}

.content_about {
    width: 41rem;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
}

#txt_my {

    font-family: 'Motiva Sans';
    padding: 0.4em 3rem;
    margin-bottom: 1rem;
}



p {
    font-family: 'Motiva Sans';
    line-height: 2;
    text-align: justify;
    font-size: 0.9rem;
}

.age_value {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************************
    Sobre mim
**************************/

/**************************
    Sobre mim

**************************/

.experience {
    /* border: 1px solid; */
    height: 13rem;
    margin-top: 3rem;
    width: 43rem;
}

.icons {
    /* border: 1px solid; */
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* background-color: #1D1F3D; */
    /* margin: 0 auto; */
    margin: 0 auto;
}

.menuIcon {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.9rem;

}

.menuIcon:hover {
    animation: myAnim 2s ease 0s 1 normal forwards;

}

.projects {
    margin-left: 20px;
    height: 339px;
    width: 657px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}


#status {
    margin: 10px 10px;
    color: #c4c4c4;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Motiva Sans';
}

#certification_text {
    margin: 10px 10px;
    color: #c4c4c4;
    font-family: 'Motiva Sans';
}

#num {
    margin: 10px 10px;
    color: #c4c4c4;
    font-family: 'Motiva Sans';
}

.base_graf_Em_Busca {
    width: 100%;
    /*tamanho lateral do grafico*/
    background-color: aliceblue;
    height: 100px;
    /*altura do grafico, proporcional a 10 itens*/
}

.Busca_nome {
    width: 15%;
    height: 20px;
    color: #c4c4c4;
    font-family: 'Motiva Sans';
    float: left;
    font-size: 14px;

}

.Busca_valor {
    width: 85%;

    height: 20px;
    /*altura igual a da classe Busca_nome*/
    float: right;

}

.Busca_nome_centralizado {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.insert_busca_width {
    background-color: #6563FF;
    height: 14px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.graficos {

    height: 109px;
    margin-top: 20px;
}



.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.hover-image span {
    position: absolute;
    opacity: 0;
    visibility: hiiden;
    bottom: 200px;
    width: 93vh;
    line-height: 45px;
    height: 305px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    text-align: center;
    font-family: "Motiva Sans";
    left: 0;
    top: 0;
    margin: auto;
    transition: all 0.4s ease;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.hover-image:hover span {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.hover-image {
    position: relative;
    width: 350px;
}

.certification {

    width: 300px;
    height: 80%;
    /* margin-top: 20px; */
    background: rgb(29, 31, 61);
    background: linear-gradient(180deg, rgba(29, 31, 61, 1) 13%, rgba(29, 31, 61, 0.8911939775910365) 60%, rgba(0, 0, 0, 0.6671043417366946) 82%);
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;

}

.item_certification {
    display: flex;
    justify-content: center;
    font-family: 'Motiva Sans';
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    /* margin-top: 27px; */
    /* margin-top: auto; */
    top: 7px;
    font-size: 22px;
    position: relative;
}

.online {
    color: #c69adf;
    text-shadow: 0 0 7px #dc8ae7, 0 0 10px #834f8a, 0 0 21px #a06ca7, 0 0 42px #5c2164, 0 0 82px #5c2164, 0 0 92px #5c2164, 0 0 102px #5c2164, 0 0 151px #5c2164;
}

.item_certification_pop {
    margin-top: 210px;
}

.container_proje {

    position: absolute;

    height: 300px;

    width: 600px;

    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;

}



.card {

    display: flex;
    height: 280px;
    width: 200px;
    /* background-color: #C9B8FF; */
    background-color: #6563FF;
    /* background-image: url(/imgs/bluewallpaper.jpg); */
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #0003;
    /* margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}



.card:not(:first-child) {

    margin-left: -50px;

}

.card:hover {

    transform: translateY(-20px);

    transition: 0.4s ease-out;

}

.card:hover~.card {

    position: relative;

    left: 50px;

    transition: 0.4s ease-out;

}

.title {

    color: #fff;
    font-weight: 200;
    text-shadow: 0px 6px 18px #000000;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: 'Motiva Sans';
    font-size: 17px;
}

/*---------FOOTER----------*/

.footer_profile {
    width: 100%;
    border: none;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);

}

.footer_icon {
    display: flex;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0%, 0%);
    justify-content: center;
    background-color: #000000;
    margin-top: 0px;
    height: 37px;
}



/* Icons */

.footer_span {
    color: #fff;
    background-color: #6563FF;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 28px;
    padding-top: 9px;
    margin: 0 10px;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;

}

.footer_span:hover {
    background: #ef92a3;
}

/* pop-up text */

.footer_span span {
    color: #666;
    position: absolute;
    font-family: sans-serif;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px 7px;
    z-index: -1;
    font-size: 14px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.footer_span span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

/* text pops up when icon is in hover state */

.footer_span:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}

/*---------FOOTER----------*/

.txt {
    display: flex;
    margin: 0 auto;
    text-transform: none;
}

p {

    align-items: center;

}

.box a {
    font-family: 'Motiva Sans';
    /* padding: 15px; */
    /* border-radius: 3px; */
    text-transform: none;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 20px;
}

.box {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2rem;
    border-radius: 4px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

.title_pop {
    color: #000000;
    display: flex;
    font-size: 24px;
    font-family: 'Motiva Sans';
    justify-content: center;
    margin-bottom: 20px;
}

.txt_pop {
    font-family: 'Motiva Sans';
    font-weight: 300;
    color: #000000;
}

.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 9px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 8px;
    margin-left: 2px;
}


.progress {
    width: 229px;
    height: 5px;
    border-radius: 20px;

}

.progress-wrap {
    background: rgba(5, 5, 107, 1);
    background: -moz-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5, 5, 107, 1)), color-stop(28%, rgba(18, 18, 120, 1)), color-stop(39%, rgba(22, 22, 145, 1)), color-stop(54%, rgba(37, 34, 189, 1)), color-stop(73%, rgba(102, 99, 255, 1)), color-stop(94%, rgba(147, 147, 207, 1)), color-stop(100%, rgba(147, 147, 207, 1)));
    background: -webkit-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -o-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -ms-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: linear-gradient(to right, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    margin: 7px 52px;
    overflow: hidden;
    position: relative;
}

.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

#recompensas {
    font-family: 'Motiva Sans';

    font-size: 12px;
    margin: 6px 50px;
}

#recompensas:hover {
    color: #6563FF;
    cursor: pointer;
}

.conquistas {
    position: absolute;
    border: none;
    width: 239px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    border-radius: 5px;

}

.text_level {
    font-family: 'Motiva Sans';
    line-height: 3;
    font-weight: 200;
    margin-left: 7px;
    display: flex;
}

.ajuste {
    display: flex;
}

.size_icon {
    width: 30px;
    height: 30px;

}

.comments {
    border: none;
    width: 97%;

}

#text_comments {
    font-size: 14px;
    font-family: 'Motiva Sans';
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    line-height: 30px;
    background-color: #1D1F3D;
    margin-left: 20px;
    font-weight: 10;

}

.fa-linkedin:before {
    content: "\f08c";
    margin-right: 5px;
}

.fa-square-github:before {
    content: "\f092";
    margin-right: 5px;
}

.fa-mobile:before {
    content: "\f3ce";
    /* margin-left: 0px; */
    margin-right: 5px;
}

.fa-inbox:before {
    content: "\f01c";
    margin-right: 5px;
}