/*Textos e foto do perfil*/
.header_profile {

    max-width: 100vw;
    display: flex;
    flex-direction: row;
}

#picture {
    width: 90%;
    margin: 1rem 2rem;
}


.flames {
    width: 17rem;
    margin: 0 1rem;
    position: absolute;
}

.content_txt {
    margin: 1rem 2rem;
    width: 50%;
}

.profile_header {
    font-family: 'Motiva Sans';
    font-size: 1.7rem;
    font-weight: 200;
    color: #ffffff;
}

.profile_name {
    font-family: 'Motiva Sans';
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 200;
    color: #ffffff;
}

.profile_studie {
    font-family: 'Motiva Sans';
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 200;
    color: #ffffff;
    margin-top: 3rem;
}

.objetivo {
    font-family: 'Motiva Sans';
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 200;
    color: #ffffff;
}

#mesa {
    width: 3%;
}

#icon_react {
    width: 3%;
}

#badge_link{
    text-decoration: none;
    font-family: 'Motiva Sans';
    display: flex;
    margin: 0.5rem 5rem;
    font-size: 0.8rem;
    color:#ffffff;
    white-space: nowrap;
}

#badge_link:hover{
    color: #6563FF;
}

/*Textos e foto do perfil*/

/* Insignia e level*/

.profile_header_badgeinfo {
    margin-top: 1rem;
}

.lvl_xp {
    border: none;
    display: flex;
    margin-left: 3.3rem;
    margin-top: 1rem;
}

.persona_level {
    font-family: 'Motiva Sans';
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 200;
}

.PlayerLevelNum {
    font-size: 1.3rem;
    font-family: 'Motiva Sans';
    border: solid #6563FF 2px;
    border-radius: 50%;
    /* display: flex; */
    line-height: 1.7rem;
    text-align: center;
    cursor: default;
    margin-top: 1rem;
    margin-left: 0.4rem;
    color: #ffffff;
}

.progress {
    width: 13rem;
    height: 5px;
    border-radius: 20px;

}

.progress-wrap {
    background: rgba(5, 5, 107, 1);
    background: -moz-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(5, 5, 107, 1)), color-stop(28%, rgba(18, 18, 120, 1)), color-stop(39%, rgba(22, 22, 145, 1)), color-stop(54%, rgba(37, 34, 189, 1)), color-stop(73%, rgba(102, 99, 255, 1)), color-stop(94%, rgba(147, 147, 207, 1)), color-stop(100%, rgba(147, 147, 207, 1)));
    background: -webkit-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -o-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: -ms-linear-gradient(left, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    background: linear-gradient(to right, rgba(5, 5, 107, 1) 0%, rgba(18, 18, 120, 1) 28%, rgba(22, 22, 145, 1) 39%, rgba(37, 34, 189, 1) 54%, rgba(102, 99, 255, 1) 73%, rgba(147, 147, 207, 1) 94%, rgba(147, 147, 207, 1) 100%);
    margin: 7px 52px;
    overflow: hidden;
    position: relative;
}

.progress-wrap .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.profile_header_badge {
    border-radius: 4px;
    display: flex;
    background-color: #171a21;
    width: 15rem;
    margin-left: 3.3rem;
}

.badge_icon {
    width: 30px;
    margin-left: 0.6rem;
}

.favorite_badge_description {
    margin-left: 0.6rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
}

.name {
    color: #ffffff;
    font-family: 'Motiva Sans';
    font-size: 0.9rem;
}

.xp {
    color: #ffffff;
    font-family: 'Motiva Sans';
    font-size: 0.6rem;
}

#recompensas {
    font-family: 'Motiva Sans';
    color: #ffffff;
    font-size: 0.7rem;
    margin-left: 3.4rem;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

#recompensas:hover {
    color: #6563FF;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}


.underline {
    position: relative;

}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #6563FF;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* Insignia e level*/