/* Habilidade que possuo */

.experience {
    width: 50vw;
}

.projects {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    border: none;

}

.skills_me {
    border: none;
    padding: 0.7rem 0.7rem;
    color: #ffffff;
    margin-left: 2rem;
    font-size: 0.9rem;
    background-color: #171a21;
    font-family: 'Motiva Sans';
    font-weight: 400;
    border-radius: 5px;
    width: 43vw;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* Projetos realizados*/

.container_project {
    border: none;
    padding: 0.7rem 0.7rem;
    color: #ffffff;
    width: 43vw;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    background-color: #171a21;
    font-family: 'Motiva Sans';
    font-weight: 400;
    border-radius: 5px;

}

.container_proje {

    height: 300px;
    width: 600px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}





.card {

    display: flex;
    height: 280px;
    width: 200px;
    background-color: #6563FF;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #0003;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}



.card:not(:first-child) {

    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {

    color: #fff;
    font-weight: 200;
    margin: 0 auto;
    align-items: center;
    font-family: 'Motiva Sans';
    font-size: 1rem;
    justify-content: center;

}

/*habilidades*/